/* Backgrounds */

.bg-hero {
  background: url(/images/desktop-bg.svg) no-repeat center center;
  height: calc(100vh - 46px);
  background-size: cover;
}

.container .row:nth-child(even) div div div:nth-child(1) {
  order: 2;
}